body {
  background-color: #ccffff;
  width: 800px;
  margin: 0 auto;
}
h1 {
  color: #FFC300;
}
#nav-table {
  width: 800px;
}
#nav-td {
  width: 200px; text-align:center;
}
p {
  width: 800px;
}
#about-img {
   width: 800px;
}
